body {
    font-family: Arial, sans-serif;
    background-color: #f6f5ed;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.intro-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
.text-content {
    max-width: 60%;
    text-align: center; /* センター寄せ */
}
.section-subtitle {
    color: #b5a456;
    font-size: 1.2em;
    margin: 0;
}
.section-title {
    color: #b5a456;
    font-size: 2.5em;
    margin: 10px 0;
}
.intro-text {
    color: #333;
    line-height: 1.6;
}
.map {
    max-width: 40%; /* 地図画像の最大幅を増やす */
    display: flex;
    justify-content: flex-end;
}
.map img {
    width: 100%;
    height: auto;
    max-width: 300px; /* 地図画像の最大幅を300pxに設定 */
}
.region {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 20px;
}
.region-image {
    flex: 1;
}
.region-image img {
    width: 100%;
    height: auto;
}
.region-content {
    flex: 1;
    background-color: #f9f8f4;
    padding: 20px;
    border-radius: 8px;
}
.region-title {
    font-size: 1.8em;
    margin: 0;
}
.region-subtitle {
    font-size: 1.2em;
    margin-bottom: 15px;
    display: block;
}
.hyogo-color {
    color: #b5a456; /* 兵庫のタイトルとサブタイトルの色 */
}
.kyoto-color {
    color: #b5a456; /* 京都のタイトルとサブタイトルの色 */
}
.region-text {
    font-weight: bold;
    color: #b5a456;
    margin-top: 0;
}
.logos {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}
.logos img {
    width: 80px;
    height: auto;
}
.more-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #b5a456; /* 背景色を追加 */
    color: #fff; /* 文字色を白に設定 */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #b5a456;
    border-radius: 5px;
}
